.signup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.form-container {
  margin-top: 2rem;
  background: rgba(255, 255, 255, 0.589);
  width: clamp(20rem, 60vw, 25rem);
  padding: 0.5rem;
  border-radius: 0.4rem;
  position: relative;
}
.heading {
  text-align: center;
  text-transform: uppercase;
}
.heading h2 {
  font-weight: 500;
  color: #5a6770;
}
.form-container input {
  display: block;
  position: relative;
  width: clamp(18rem, 90%, 24rem);
  margin: 0.9rem auto;
  padding: 0.3rem 0.2rem;
  font-size: 1.1rem;
  border-radius: 5px;
  font-family: inherit;
  backdrop-filter: blur(10px);
  caret-color: #5a6770;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
.form-container input:focus-visible {
  background: #dceaf3;
}
.form-container input::placeholder {
  font-size: 1rem;
  padding-left: 0.3rem;
}

.form-container form {
  width: 100%;
}
/* link */
.link-container {
  margin-top: 0.2rem;
  text-align: center;
}
.link {
  color: #5ea7db;
  margin-left: 0.2rem;
  text-transform: capitalize;
}

.link-container.login {
  display: flex;
}
@keyframes swivel-horizontal-double {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(720deg);
  }
}
/* styling loader */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
